{% extends 'base.html' %}
{% block content %}

<h1 style="color: rgb(61, 73, 73);"> Contact Us </h1>

<form method="post">
    {% csrf_token %}
    <div class="contact">
        <div class="form-group mb-4">
            <label for="full_name">Full Name:</label>
            <input class="form-control" type="text" id="full_name" name="first_name" required>
        </div>
        <div class="from-group mb-4">
            <label for="email">Email:</label>
            <input class="form-control" type="email" id="email" name="email" required>
        </div>
        <div class="from-group mb-4">
            <label for="">Message:</label>
            <input class="form-control" type="text" id="message" name="message" required>
        </div>
    </div>
    <button class="btn btn-info mb-4" type="submit">Submit</button>
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif %}
</form>


</div>
{% endblock %}